.footerContainer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 24px 50px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff
}

.row img {
    margin-right: 30px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 15px 0;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all .5s ease-in-out;
    border-bottom: 1px solid #ffffff
}

.footerIcon p {
    padding-bottom: 15px;
}

.footerIcon:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.invoice {
    font-size: 1.225rem;
}

.invoice p {
    margin: 10px 0 10px 10px;
}

@media only screen and (max-width: 800px) {
    .footerContainer {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
    }

    .row {
        align-items: flex-start;
        justify-content: flex-start;
        color: #000000;
        margin-left: -8px;
    }

    .col {
        width: 100%;
    }

    .invoice {
        font-size: 17px;
    }

    .footerIcon {
        padding: 20px 0;
        color: #000;
    }

    .footerIcon p {
        padding-bottom: 0;
    }

    .footerIcon:nth-child(1) {
        border-bottom: 1px solid #000000;
    }

    .footerIcon:nth-child(2) {
        border-bottom: 1px solid #000000;
    }

    .footerIcon:nth-child(3) {
        border-bottom: 1px solid #000000;
    }

    .footerLogo {
        display: none;
    }

    .footerIcon p {
        color: #000;
    }
}
